@using Blazored.LocalStorage
@using Client.DTO
@using Client.Models
@using System.Runtime.InteropServices
@page "/menuitem/dish/{Id:guid}"
@inject HttpClient Http
@inject NavigationManager Nav
@inject ILocalStorageService LocalStorage


@if(menuitem is not null)
{
    <div class="pt-16">
        <BbCard class="w-2/5 pt-12 h-full m-auto p-2">
            <div class="flex gap-2">
                <img src=@GetImage(menuitem.Name) alt=@menuitem.Name class="size-48 object-cover">
                <div class="flex flex-col w-[500px]">
                    <h1 class="text-3xl font-bold">@menuitem.Name</h1>
                    <p class="text-lg">@menuitem.Description</p>
                    <p class="text-lg">@menuitem.Price kr</p>

                </div>
            </div>

            <div class="flex items-center gap-3">
                <div class="flex flex-col items-center gap-3 py-2 w-full">
                    <span class="font-bold">Antal: </span>
                    <div class="flex items-center">
                        <BbButton Color="ButtonColor.Secondary"
                                Size="ButtonSize.Small"
                                Outline="true"
                                onclick="@DecreaseQuantity"
                                Class="w-8 h-8 flex items-center justify-center rounded-lg font-bold text-lg leading-none">
                            −
                        </BbButton>
                        <span class="w-16 text-center text-xl font-semibold text-gray-800 tabular-nums select-none">
                            @Quantity
                        </span>

                        <BbButton Color="ButtonColor.Primary"
                                Size="ButtonSize.Small"
                                onclick="@IncreaseQuantity"
                                Class="w-8 h-8 flex items-center justify-center rounded-lg font-bold text-lg leading-none">
                            +
                        </BbButton>
                    </div>

                    <BbButton Color="ButtonColor.Secondary"
                            Size="ButtonSize.IconLarge"
                            Outline="true"
                            onclick="@(() => ProceedToOrder())"
                            Class="h-8 w-full px-4">
                        Lägg till
                    </BbButton>
                </div>
            </div>
        </BbCard>

    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }
    public GetRestaurantsDTO? restaurant;
    public GetMenuItemDTO? menuitem;
    public List<Meals>? meals;
    public int Quantity { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {

        menuitem = await Http.GetFromJsonAsync<GetMenuItemDTO>($"/api/menuitem/dish/{Id}");
        restaurant = await Http.GetFromJsonAsync<GetRestaurantsDTO>($"api/restaurant/{menuitem.RestaurantId}");
        var response = await Http.GetFromJsonAsync<MealList>(
            $"https://www.themealdb.com/api/json/v1/1/filter.php?a={restaurant?.Category}"
        );

        meals = response?.Meals;
    }



    private async Task ProceedToOrder()
    {
        if (restaurant is null || menuitem is null)
        {
            return;
        }
        
        var orderState = new OrderState {
            MenuItem = menuitem,
            Restaurant = restaurant,
            Quantity = Quantity
        };

        @* await LocalStorage.RemoveItemAsync("menuItem"); *@

        var exists = await LocalStorage.ContainKeyAsync("cart");

        if (exists)
        {
            var cart = await LocalStorage.GetItemAsync<List<OrderState>>("cart") ?? new();
            cart.Add(orderState);
            await LocalStorage.SetItemAsync("cart", cart);
        }
        else
        {
            await LocalStorage.SetItemAsync("cart", new List<OrderState> { orderState });
        }

        var getMenuItems = await LocalStorage.GetItemAsync<List<OrderState>>("cart");

        Nav.NavigateTo($"/restaurant/{menuitem?.RestaurantId}");
    }

    public string GetImage(string name)
    {
        if(meals is null || meals.Count == 0)
        {
            return "";
        }

        return meals.FirstOrDefault(m => m.strMeal.Trim().ToLower() == name.Trim().ToLower()) ? .strMealThumb ?? "";

    }

    public void IncreaseQuantity()
    {
        Quantity++;
        if (Quantity >= 10)
        {
            Quantity = 10;
        }

    }
    public void DecreaseQuantity()
    {
        Quantity--;
        if (Quantity <= 1)
        {
            Quantity = 1;
        }
    }
}